* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
	color: currentColor;
}
button:focus,
input:focus{
	outline: none;
}
aside,
nav,
footer,
header,
section,
main {
	display: block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
	display: none;
}
button,
input[type="submit"] {
	cursor: pointer;
	background-color: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

// <!-- <picture>
// 				<source srcset="img/286.jpg" type="image/jpg" media="(min-width: 767px)">
// 				<source srcset="img/286.jpg" type="image/jpg" media="(max-width:767px)">
// 				<img src="img/286.jpg" alt="Логотип">
// 			</picture> -->